.newsbox{
    position: relative;
    background-color: #fff;
    padding: 30px 30px 70px 30px;
    box-shadow: 5px 5px 10px -7px #000;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: var(--main-transition);
    
}
.newsbox:hover{
    background-color:var(--secondary-color);
    color:#fff;
}
.newsbox:hover h3{
    color: #fff;
}
.newsbox:hover span{
    color: #fff;
}
.newsbox:hover p{
    color:#fff;
}
.newsbox h3{
    color: var(--main-color-blue);
    font-weight:600;
}
.newsbox span{
    color: var(--main-color);
}
.newsbox p{
    color:var(--main-color-blue);
    font-size:20px;
    font-weight:400;
    line-height:1.8;
}
.newsbox .newsbow-arrow{
    position: absolute;
    bottom: 50px;
    right: 50px;
    
}
